@model IEnumerable<TotalSquashNext.Models.User>

@{
    ViewBag.Title = "Contact User";
}

<h2>Contact User</h2>


<table class="table">
    <tr>
        <th>@Html.DisplayNameFor(model => model.username)</th>
        <th></th>
    </tr>
@foreach (var item in Model) {
    
       if ((((TotalSquashNext.Models.User)Session["currentUser"]).username != item.username))
        {
            <tr>
                <th>@Html.DisplayFor(modelItem => item.username)</th>
                <th><a href="mailto:@item.emailAddress">Contact</a></th>
            </tr>
        }

}
</table>
